@use './common.scss';
@use './variables.scss';

.header {
    height: inherit;

    .header-content {
        height: inherit;
        align-items: center;

        .header-title-container {
            align-items: center;
        }

        .header-title {
            margin: 8px;
        }

        .title-description {
            position: relative;
            bottom: 2px;
        }

        .settings-icon {
            color: white;
        }
    }
}

.chat-interface {
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    padding-bottom: 230px;
    height: calc(100vh - variables.$header-height);
    margin-top: variables.$header-height !important;

    .intro {
        text-align: center;
        padding: 24px 135px;

        .prompt-example-card {
            user-select: none;
            width: 280px;
            height: 150px;
        }
    }

    .prompt-container {
        padding: 28px 16px;
        backdrop-filter: blur(1.5px);
        margin-right: 8px;
        padding-right: 12px;

        .prompt-editor {
            resize: none;
            border-radius: 6px 0px 0px 6px;
            padding-right: 34px;

            &::-webkit-scrollbar {
                width: 5px;
            }
        }

        .send-btn {
            width: 60px;
            height: inherit;
            border-left: none;
        }

        .editor-plugins {
            position: absolute;
            float: right;
            top: 26px;
            z-index: 1;
            right: 75px;
            height: 70px;
            padding: 7px 4px;

            .ant-space-item-split {
                .ant-divider {
                    margin: 0px;
                }
            }
        }

        .image-prompt-list-container {
            position: absolute;
            bottom: 115px;
            width: 40%;

            .image-preview-container {
                .ant-card-meta {
                    .ant-card-meta-avatar {
                        .ant-image {
                            width: 100px;
                            height: 65px;
                            img {
                                height: inherit;
                                object-fit: contain;
                            }
                        }
                    }

                    .image-preview-title {
                        white-space: break-spaces;
                    }
                }
            }
        }
    }

    .dialog-container {
        padding-top: 14px;
    }

    #response-loading-indicator {
        position: relative;
        left: 10px
    }

    .dialog-bubble {
        display: flex;
        padding: 8px 24px;
        position: relative;

        .dialog-content {
            box-shadow: 1px 0px 8px 0px rgb(128 128 128 / 35%);

            .ant-card-body {
                padding: 14px;
            }

            .image-prompt-carousel {
                max-width: 450px;
                margin: 0 auto;

                .slick-arrow {
                    color: #fff;
                    background: #252525;
                    border-radius: 14px;
                    z-index: 1;
                    width: 25px;
                    height: 25px;
                    
                    &.slick-prev {
                        inset-inline-start: 15px;
                    }
                    
                    &.slick-next {
                        inset-inline-end: 15px;
                    }
                }

                .slick-slide {
                    text-align: center;
                    backdrop-filter: contrast(0.7);
                }

                .ant-image-img {
                    height: 250px;
                    object-fit: contain;
                }
            }
        }

        &.ai-dialog-bubble {
            justify-content: flex-start;

            .dialog-content {
                border-radius: 6px 6px 6px 0px;
            }
        }

        &.user-dialog-bubble {
            justify-content: flex-end;

            .dialog-content {
                white-space: break-spaces;
                border-radius: 6px 6px 0px 6px;
                font-size: 16px;
            }
        }

        .dialog-content-container {
            max-width: calc(100vw - 35%);
        }

        .dialog-timestamp {
            float: right;
            cursor: default;
        }
    }

}

.chat-settings {
    .chat-modes {
        .ant-typography {
            color: #fff !important;
        }

        .chat-mode {
            text-align: center;
            min-width: 108px;

            &.selected {
                .ant-typography {
                    filter: drop-shadow(2px 4px 8px black);
                }
            }
        }

        .chat-mode-creative {
            background: linear-gradient(90deg,
                    rgba(101, 16, 53, 0.8) 40%,
                    rgba(0, 169, 255, 0.8) 100%);
        }

        .chat-mode-balanced {
            background: linear-gradient(90deg,
                    rgb(0 169 255 / 69%) 0%,
                    rgb(0 169 255) 50%,
                    rgb(180 37 234 / 85%) 100%);
        }

        .chat-mode-precise {
            background: linear-gradient(90deg,
                    rgba(180, 37, 234, 0.8) 0%,
                    rgba(101, 16, 53, 0.8) 100%);
        }

        .chat-mode-checked-icon {
            display: inline;
            color: #49aa19;
            background-color: #fff !important;
            border-radius: 8px !important;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}